@media (max-width: 768px) {

    .cabecalho {
        flex-direction: column;
        height: auto; 
        padding: 20px;
      }
    
      .cabecalho .menu {
        flex-direction: column;
        gap: 10px;
      }
    
      .cabecalho .menu li a {
        padding: 10px; 
        font-size: 14px; 
      }

      .preco {
        text-align: center;
        margin-top: 20px;
      }
    
      #titulo-da-venda,
      #preco-do-oculos {
        font-size: 20px;
      }
    
      .imagem-de-selecao {
        height: 60px;
        float: none; 
        margin: 10px auto; 
        display: block; 
      }
    
      .selecao {
        font-size: 12px;
        float: none; 
        text-align: center; 
      }
    
      #adicionarAoCarrinho {
        font-size: 24px;
        top: -120px;
        right: 0;
        margin: 20px auto; 
        display: block; 
      }
  }
  